<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/ace-builds/src-noconflict/ace.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script src="./javascripts/socket.js"></script>
<script src="./javascripts/ace.js"></script>
</body>
</html>