<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect();
      
      // Function call on send button click
      function sendFunction() {
        socket.emit('new message', $('#new-message').val());
        $('#new-message').val('');
      }
      socket.on('chat message', function(msg){
        $('#messages-area').append($('<li>').text(msg));
      });
      
      // Testing on socket emit
      socket.on('news', function (data) {
        console.log(data);
        $('#socket').html(data["hello"]);
      });
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h3 id="socket"></h3>
    <ul id="messages-area"></ul>
    <form id="form" onsubmit="return false;">
      <input id="new-message" type="text" /><button onclick="sendFunction()">Send</button>
    </form>
  </body>
</html>
