<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect();
      
      // Function call on send button click
      function sendFunction() {
        // Send a "new message" with value of the new-message
        // field to the server
        socket.emit('new message', $('#new-message').val());
        
        // After sending the message to server, clear the 
        // input field
        $('#new-message').val('');
      }
      
      // Get chat message action from server
      // append new message at the end of the site
      socket.on('chat message', function(msg){
        $('#messages-area').append($('<li>').text(msg));
      });
      
      // Testing on socket emit
      socket.on('news', function (data) {
        console.log(data);
        $('#socket').html(data["hello"]);
      });
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h3 id="socket"></h3>
    <ul id="messages-area"></ul>
    <form id="form" onsubmit="return false;">
      <input id="new-message" type="text" /><button onclick="sendFunction()">Send</button>
    </form>
    <hr>
    <h1>Editor</h1>
    <div id="editor">
      function foo(items) {
        var x = "All this is syntax highlighted";
        return x;
      }
    </div>
    
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/javascript");
    </script>
  </body>
</html>
